@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&family=Poppins:wght@200;300;400&display=swap');
.App {
  text-align: center;
  scroll-behavior: smooth;
}
.todolist{
  display: flex;
  flex-direction: column;
  margin:10px 0;
  font-family: 'Inter', sans-serif;
  overflow-wrap: break-word
}
.list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 40%;
  margin: 20px auto;
  background-color: rgb(159, 164, 202);
  border:1px solid grey;
}
input[type="search"] {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin:0 10px;
}
input[type="search"]:focus {
  box-shadow: 0 0 3px 0;
  outline: none;
  color: #898e9a;
  box-sizing: border-box;
  border: 1px solid #c0c4cc;
  border-radius: 2px;
}
.search{
  display:flex;
  justify-content: center;
  max-width:14.5%;
  max-width: 100%;
  margin: 20px auto;
}
.title{
  font-family: 'Poppins', sans-serif;
}
button{
  font-family: 'Poppins', sans-serif;
  background-color: rgb(180, 155, 155);
  border-style: none;
  cursor: pointer;
}
button:focus{
  box-shadow: 0 0 3px 0;
  outline: none;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.remove{
  margin:0 15px;
}
.checkbox{
 vertical-align: middle;

}

@media only screen and (min-device-width: 200px) and (max-device-width: 700px) {
  .App{
    overflow-y: scroll;
    overflow-x: scroll;
  }
  .list{
    max-width: 100%;
  }
  input[type="search"]{
    padding-top:4px;
    padding-bottom: 4px;
  }
}

@media only screen and (min-device-width: 701px) and (max-device-width: 1100px) {
  .App{
    overflow-y: scroll;
    overflow-x: scroll;
  }
  .list{
    max-width: 80%;
  }
  input[type="search"]{
    padding-top:7px;
    padding-bottom: 7px;
  }
 
}